.falcor(ng-controller="MainController as main")

  .hero-unit
    %h1 Wix Falcor

    .input-container
      %input(ng-model="main.query" ng-keypress="main.watchInput($event)")
      %button(ng-click="main.fetch()") falcor

  %pre.output
    {{main.result}}
