.falcor(ng-controller="MainController as main")

  .hero-unit
    %h1 Wix Falcor

    .input-container
      %input(ng-model="main.query")
      %button(ng-click="main.init()") falcor

  %pre.output
    {{main.result}}
